.root {
  display: flex;
  align-items: center;
  font-size: 19px;
  user-select: none;
}

.root * {
  box-sizing: border-box;
}

.token {
  padding: 4px 4px;
  margin: 0 4px;
  text-align: center;
}

.token.hinted {
  border-bottom: 2px dotted hsl(0, 0%, 50%);
  /* TODO: Check cursor */
  cursor: help;
}

.token.hinted.fillable {
  color: transparent;
  padding: 8px;
  border-bottom: 2px solid hsl(0, 0%, 50%);
  cursor: default;
}

.token.fillable.filled {
  color: inherit;
}
